@import "compass";

@font-face  {
  font-family: lato;
  src: url(../Lato-Reg.ttf);
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #7D7D7D !important;
}

.container{
  width: 980px;
  margin: 0 auto;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clear{
  clear: both;
}

#top-info-header{
  border-bottom: solid #ECEEF0 1px;
  padding: 15px 0 15px 0;
  color: #3B4A5D;
  font-size: 13px;
  margin-bottom: 15px;

  .phone-number {
    width: 130px;
    border-right: solid #ECEEF0 1px;
    margin-right: 15px;

    .fa-phone {
      margin-right: 10px;
    }

    span {
      position: relative;
      top: -2px;
    }
  }

  .email {
    width: 220px;

    .fa-envelope-o {
      margin-right: 10px;
    }

    span{
      position: relative;
      top: -2px;
    }
  }

  .social-icons {
    width: 200px;

    .face-book {
      border-right: solid #ECEEF0 1px;
      border-left: solid #ECEEF0 1px;
      width: 40px;
      text-align: center;
    }

    .yelp {
      border-right: solid #ECEEF0 1px;
      width: 40px;
      text-align: center;
    }
  }
}

#main-nav {
  margin-bottom: 20px;
  #main-logo-container { 
    width: 120px;
    img{
      width: 120px;
    }
  }

  #nav-items {
    width: 800px;
    margin-top: 5px;
    text-align: right;

    ul {
      li {
        display: inline-block;
        margin-right: 55px;
        padding-top: 15px;

        a {
          color: #3B4A5D;
          text-decoration: none;
        }
      }
    }
  }
}

#main-banner {
  border: solid #ECEEF0 1px;
  padding-top: 80px;
  padding-bottom: 300px;

  .left-banner-content {
    img{
      width: 500px;
    }
  }

  .right-banner-content {
    position: relative;
    top: -50px;
    h1{
      color: #565555;
      font-weight: 100;
      font-size: 50px;
    }
  }
}

#mid-section {
  background: black;
  padding: 25px 0 30px 0;
  color: white;
  margin-bottom: 20px;

  .contact-button {
    background: #343434;
    padding: 20px 40px 20px 40px;
    @include border-radius(4px);
    cursor: pointer;

    &:hover {
      background: #4a4a4a;
    }
  }
}

#product-section {
  margin: 40px 0 40px 0;
  ul {
    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
  img{
    width: 140px;
  }
}

#footer {
  background: #363636;
  height: 300px;
  padding-top: 40px;

  h4 {
    color: white;
    font-weight: bold;
  }

  p {
    color: white;
    font-size: 14px;
  }
}

#sub-page-header {
  background: #000000;
  padding: 30px 0 40px 0;

  h1 {
    color: white;
  }
}

#about-top-section {
  margin: 50px 0 50px 0;

  strong {
    color: black;
  }

  h3 {
    color: black;
  }

  p {
    position: relative; 
    top: -2px;
  }
}

#about-bottom-section {
  border-top: solid #ECEEF0 1px;
  padding-top: 30px;
  padding-bottom: 30px;

  ul {
    li {
      list-style: none;
      margin-bottom: 10px;
      img {
        width: 170px;
      }
    }
  }
  .about-us-bottom-section {
    width: 500px;
    h3 {
      color: #111155;
    }
  }
}

#map{
  width: 100%;
}

#contact-us-container {
  margin-top: 40px;
  margin-bottom: 40px;

  #contact-us-form-container {
    form {
      input {
        width: 450px;
        height: 28px;
        border: solid #cfcfcf 1px;
        background: #ECEEF0;
      }
      textarea{
        width: 100%;
        height: 300px;
        border: solid #cfcfcf 1px;
        background: #ECEEF0;
      }
    }
  }
}

