#top-info-header
  .container
    .phone-number.float-left
      %i.fa.fa-phone.float-left
      %span.float-left (714) 907-6767
    .email.float-left
      %i.fa.fa-envelope-o.float-left
      %span.float-left admin@autotintspecialist.com
    .social-icons.float-right
      Mon - Sat 9:00 a.m - 6:00 p.m.
    .clear

#main-nav
  .container 
    #main-logo-container.float-left
      = link_to((image_tag 'logo.png'), 'index.html')
    #nav-items.float-right
      %ul
        %li= link_to 'Home', 'index.html'
        %li= link_to 'About Us', 'about.html'
        %li Services
        %li Photo Gallery 
        %li Reviews!
        %li= link_to 'Contact Us', 'contact.html'
    .clear