#sub-page-header
  .container
    %h1 Contact Us
    %p Home/Contact Us

#map
  %iframe{frameborder: "0", height: "450", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.044971912416!2d-117.9972571!3d33.707785200000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd268d62bb116f%3A0xd6c9941e563ca5b3!2s7522+Slater+Ave+%23115!5e0!3m2!1sen!2sus!4v1399055584744", style: "border:0", width: "100%"}

#contact-us-container
  .container
    %h3 Contact Us For A Free Estimate
    %br
    %p Please fill out the form to request a free estimate and an auto tint specialist will be in contact with you soon with any questions you may have.
    #contact-us-form-container
      %br
      %form{ :action => "", :method => "post"}
        %fieldset
          %ol
            %li
              %label{:for => "name"} Name:
              %input{:type => "text", :name => "name", :class => "text"}
            %li
              %label{:for => "mail"} email:
              %input{:type => "text", :name => "mail", :class => "text"}
            %li
              %label{:for => "body"} Message:
              %textarea{:name => "body"}
          %input{:type => "submit", :value => "Send", :class => "button"}
/ - data.people.features.each do |feature| 
/   .feature
/     %img{:src => "/images/#{feature.image}"}
/     %h3=feature.title
/     %p=feature.text